{% set data = load_data(path=path) %}
<div id="nsfw-description" class="card p-6 max-w-full prose dark:prose-invert prose-zinc grid-item bg-purple-700 dark:bg-purple-900 border-purple-300 dark:border-purple-600 text-white {% if page.extra.require_nsfw_in_url %} hidden {% endif %}">
    <h2 class="font-semibold text-3xl mb-2">⚠️ Content Warning ⚠️</h2>
    <p>This page contains some content that's not suitable for people under the age of 18.</p>
    {% if data.nsfw.content_warnings %}
        <p>
            The topics being depicted on this page some people might find distressing for one reason or another. These include:
        </p>

        <ul class="marker:text-white">
        {% for warning in data.nsfw.content_warnings %}
            <li class="font-bold font-mono text-lg">{{ warning }}</li>
        {% endfor %}
        </ul>

        <p>If you feel these topics might make you uncomfortable you might want to disable NSFW content or leave the page.</p>
    {% endif %}
</div>