<div id="nsfw-toggle-card" class="card p-6 grid-item bg-purple-700 dark:bg-purple-900 border-purple-300 dark:border-purple-600 text-white {% if page.extra.require_nsfw_in_url %} hidden {% endif %}">
    <div class="flex justify-between items-center">
        <h2 class="font-semibold text-2xl">🔞 Show NSFW Content</h2>
        <div class="select-none">
            <label class="inline-flex relative items-center cursor-pointer">
                <input id="nsfw-toggle" type="checkbox" value="" class="sr-only peer">
                <div class="border-2 border-purple-500 w-14 h-7 bg-gray-400 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[4px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 after:transition-all peer-checked:bg-blue-600"></div>
            </label>
        </div>
    </div>
</div>