{% set data = load_data(path=path) %}
{% for asset in page.assets -%}
{%- if asset is matching("/.*/gallery_nsfw/.*\.(png|jpg|jpeg)") -%}
{% set meta = get_image_metadata(path=asset) %}
{% set image = resize_image(path=asset, height=1024, width=512, op="fit") %}
<div class="card grid-item nsfw hidden relative">
  <img width="{{ meta.width }}" height="{{ meta.height }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ image.url }}" data-zoom-src="{{ get_url(path=asset) }}" data-zoomable/>
  {% if data %}
    {% if data.credit %}
      {% if asset in data.credit %}
        <a href="{{ data.credit | get(key=asset) | get(key="url") }}">
        <div class="flex items-center font-mono hover:bg-blue-700 hover:opacity-100 border-2 border-zinc-700 hover:border-blue-500 text-white absolute left-2 bottom-2 bg-zinc-800 px-2 py-1 rounded-md opacity-95 transition-all">
          <p>Art by {{ data.credit | get(key=asset) | get(key="handle") }}</p>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 ml-2">
            <path fill-rule="evenodd" d="M4.25 5.5a.75.75 0 00-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 00.75-.75v-4a.75.75 0 011.5 0v4A2.25 2.25 0 0112.75 17h-8.5A2.25 2.25 0 012 14.75v-8.5A2.25 2.25 0 014.25 4h5a.75.75 0 010 1.5h-5z" clip-rule="evenodd" />
            <path fill-rule="evenodd" d="M6.194 12.753a.75.75 0 001.06.053L16.5 4.44v2.81a.75.75 0 001.5 0v-4.5a.75.75 0 00-.75-.75h-4.5a.75.75 0 000 1.5h2.553l-9.056 8.194a.75.75 0 00-.053 1.06z" clip-rule="evenodd" />
          </svg>
        </div>
        </a>
      {% endif %}
    {% endif %}
  {% endif %}
</div>
{%- endif %}
{%- endfor %}