{% set is_dev = get_env(name='DEV', default=true) != "false" %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% block title %}
  <title>🐑 - refsheep</title>
  {% endblock title %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link href="/style.css" rel="stylesheet">

  {% if config.extra.umami_domain %}
  <script async src="https://{{ config.extra.umami_domain }}/script.js" data-domains="{{ config.extra.umami_track_domain }}" data-website-id="{{ config.extra.umami_id }}"></script>
  {% endif %}

  {% block head %}
  {% endblock head %}

</head>
<body class="bg-gray-50 dark:bg-zinc-900">
  {% block content %}
  Nothing here :(
  {% endblock content %}

  {% if not is_dev %}
  <script type="module" src="/script.js"></script>
  {% else %} {# get the script from vite server #}
  <script type="module" src="http://localhost:8001/src/index.ts"></script>
  {% endif %}
</body>
</html>