{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block content %}
<div class="container mx-auto h-screen">
    <div class="flex flex-col justify-center min-h-full">
        <h1 class="mb-8 text-center dark:text-white text-6xl font-bold">Spencer's References</h1>
        <div class="flex-row flex gap-8 items-center justify-center animate-in fade-in duration-500">
            {% for character in section.pages %}
                {{ macros::character_tile(character=character) }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}