{% extends "base.html" %}

{% block title %}
<title>{% if page.extra.emoji %}{{ page.extra.emoji }} - {% endif %}{{ page.title }} References</title>
{% endblock title %}

{% block head %}
{% set og_image = resize_image(path=page.path ~ "refsheet.png", width=1080, op="fit_width") %}
<meta property="og:title" content="{{ page.title }} - References"/>
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:url" content="{{ current_url }}" />
<meta property="og:image" content="{{ og_image.url }}"/>

{% set twitter_image = resize_image(path=page.path ~ "refsheet.png", width=2048, height=1024, op="fit") %}
<meta name="twitter:title" content="{{ page.title }} - References">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="{{ twitter_image.url }}">
<meta name="twitter:card" content="summary_large_image">
{% endblock head %}

{% block content %}
{% if page.extra.config %}
{% set creditdata = load_data(path=page.extra.config) %}
{% endif%}
<article class="animate-in fade-in duration-300">
  <div class="container mx-auto h-screen max-w-5xl p-0 sm:p-4 dark:text-white">
    <div class="flex items-center flex-col pt-4 justify-center">
        <h1 class="font-bold text-4xl">{{ page.title }}</h1>
        <p class="text-lg text-gray-500 dark:text-zinc-500 pt-0">{{ page.description }}</p>
    </div>
    <div class="children-div:my-4">
      <div id="ref-card" class="relative card transition-height">
        {% set image = resize_image(path=page.path ~ "refsheet.png", height=2048, width=2048, op="fit") %}
        <img width="{{ image.width }}" height="{{ image.height }}" id="ref-sheet" src="{{ image.url }}" data-zoom-src="refsheet.png" data-zoomable/>
        {% if creditdata %}
            {% if "/otter/refsheet.png" in creditdata.credit %}
                <a href="{{ creditdata.credit | get(key="/otter/refsheet.png") | get(key="url") }}">
                <div class="flex items-center font-mono hover:bg-blue-700 hover:opacity-100 border-2 border-zinc-700 hover:border-blue-500 text-white absolute left-2 bottom-2 bg-zinc-800 px-2 py-1 rounded-md opacity-95 transition-all">
                    <p>Art by {{ creditdata.credit | get(key="/otter/refsheet.png") | get(key="handle") }}</p>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 ml-2">
                        <path fill-rule="evenodd" d="M4.25 5.5a.75.75 0 00-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 00.75-.75v-4a.75.75 0 011.5 0v4A2.25 2.25 0 0112.75 17h-8.5A2.25 2.25 0 012 14.75v-8.5A2.25 2.25 0 014.25 4h5a.75.75 0 010 1.5h-5z" clip-rule="evenodd" />
                        <path fill-rule="evenodd" d="M6.194 12.753a.75.75 0 001.06.053L16.5 4.44v2.81a.75.75 0 001.5 0v-4.5a.75.75 0 00-.75-.75h-4.5a.75.75 0 000 1.5h2.553l-9.056 8.194a.75.75 0 00-.053 1.06z" clip-rule="evenodd" />
                    </svg>
                </div>
                </a>
            {% endif %}
        {% endif %}

        {% if page.extra.nsfw_refsheet %}
          {% set image_nsfw = resize_image(path=page.path ~ "refsheet_nsfw.png", height=2048, width=2048, op="fit") %}
          <img class="hidden" width="{{ image_nsfw.width }}" height="{{ image_nsfw.height }}" id="ref-sheet-nsfw" src="{{ image_nsfw.url }}" data-zoom-src="refsheet_nsfw.png" data-zoomable/>
        {% endif %}
        {% if page.extra.clothed_refsheet %}
          {% set image_unclothed = resize_image(path=page.path ~ "refsheet_unclothed.png", height=2048, width=2048, op="fit") %}
          <img class="hidden" width="{{ image_unclothed.width }}" height="{{ image_unclothed.height }}" id="ref-sheet-unclothed" src="{{ image_unclothed.url }}" data-zoom-src="refsheet_unclothed.png" data-zoomable/>
        {% endif %}
        <div id="ref-control" class="cursor-pointer border-2 border-purple-500 {% if page.extra.clothed_refsheet %}{% else %}hidden{% endif %} opacity-60 hover:opacity-100 transition-all absolute top-2 right-2 min-w-[150px] bg-purple-900 rounded-lg text-white select-none" style="padding: 4px;">
          <div class="relative flex items-center">
            <div id="clothed-ref-slider" class="absolute left-0 inset-y-0 w-1/2 flex bg-white dark:bg-purple-600 transition-all ease-in-out duration-200 transform rounded-md shadow translate-x-0"></div>
            <div class="relative flex-1 flex text-sm font-semibold capitalize items-center justify-center m-px p-px">Clothed</div>
            <div id="unclothed-nsfw" class="relative flex-1 flex text-sm font-semibold capitalize items-center justify-center m-px p-px">Unclothed</div>
          </div>
        </div>
        {% if page.extra.colors %}
          <img id="ref-sheet-greyscale" class="ref-element absolute top-0 left-0 opacity-0 transition pointer-events-none"/>
          {% for color in page.extra.colors %}
            <img id="ref-sheet-{{ color }}" class="ref-element blinking absolute top-0 left-0 opacity-0 transition pointer-events-none"/>
          {% endfor %}

          <img id="ref-sheet-greyscale-nsfw" class="nsfw-ref-element hidden absolute top-0 left-0 opacity-0 transition pointer-events-none"/>
          {% for color in page.extra.colors %}
            <img id="ref-sheet-{{ color }}-nsfw" class="nsfw-ref-element hidden blinking absolute top-0 left-0 opacity-0 transition pointer-events-none"/>
          {% endfor %}

        <img id="ref-sheet-greyscale-unclothed" class="unclothed-ref-element hidden absolute top-0 left-0 opacity-0 transition pointer-events-none"/>
          {% for color in page.extra.colors %}
            <img id="ref-sheet-{{ color }}-unclothed" class="unclothed-ref-element hidden blinking absolute top-0 left-0 opacity-0 transition pointer-events-none"/>
          {% endfor %}

        {% endif %}
      </div>

      <div class="card !mb-4 rounded-lg mx-4 border-2 sm:mx-0">
        {% if page.extra.colors %}
        <div id="palette" class="grid grid-auto-fit-[8rem] sm:grid-auto-fit-sm">
          {% for color in page.extra.colors %}
          <div {% if page.extra.color_tolerances %} data-tolerance="{{ page.extra.color_tolerances | nth(n=loop.index - 1) }}" {% endif %}data-color="{{ color }}" class="select-none p-4 relative cursor-pointer transition border-black dark:border-white text-center align-middle flex flex-col justify-center items-center group" style="background-color: {{ color }};">
            <span class="pointer-events-none absolute font-bold font-mono bg-inherit bg-clip-text text-transparent filter grayscale invert transition-all group-hover:text-xl overflow-hidden">{{ color }}</span>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% if page.extra.zip_download %}
      <a id="zip-button" href="https://ref-obj.eedq.org/zips/{{ page.path | split(pat='/') | nth(n=1) }}.zip" class="mb-4 card w-full flex justify-center items-center text-center p-2 font-semibold bg-blue-900 border-blue-700 hover:bg-blue-700 hover:border-blue-500 transition opacity-90">
        <div class="flex flex-col items-center">
          <span class="px-2 text-xl">Download All References</span>
          <span id="zip-text" class="opacity-60 text-sm">ZIP File</span>
        </div>
      </a>
      {% endif %}
      <masonry-layout maxcolwidth="800" debounce="1" gap="16">
        {{ page.content | safe }}
      </masonry-layout>
    </div>
    </div>
</article>
{% endblock content %}